body {
    background-color: hsl(0, 0%, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: hsl(50, 0%, 80%);
    font-variant: small-caps;
}

canvas {
    border: 3px solid whitesmoke;
    width: min(90vw, 100vh);
    align-self: center;
}